<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Add New Contact</title>
</head>
<body>
<h1>Add New Contact</h1>

<form th:action="@{/contacts}" th:object="${contact}" method="post">
    <label>Name: <input type="text" th:field="*{name}" /></label><br/>
    <label>Email: <input type="text" th:field="*{email}" /></label><br/>
    <label>Phone: <input type="text" th:field="*{phone}" /></label><br/>
    <button type="submit">Save</button>
</form>
</body>
</html>